section {
  height: 100vh;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  width: 500px;
  display: inline-block;
}

/*.topspace {
  margin-top: 30%;
}*/

.home {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

  /*background-image: url('../images/silver_lining-wallpaper-1280x768.jpg');*/
  background-image: url('../images/apple_desktop.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.guvsingh {
  font-family: 'Grand Hotel', cursive;
  font-size: 300px;
  color: black;
  padding-top: 7%;
}

.project1 {
  /*background-image: url('../images/p1-word-conundrum.png');*/
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project2 {
  /*background-image: url('../images/p1-word-conundrum.png');*/
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leftbox {
  width: 50%;
  height: 100vh;
  /*background-color: #bfd3e2;*/
  background-color: whitesmoke;
  float: left;
}

.rightbox {
  margin-left: 50%;
  height: 100vh;
  /*background-color: grey;*/
}

.content {
  margin-top: 10vh;
}

.screenshot {
  margin-top: 30%;
  width: 60%;
  border: 1px black solid;
}

.skills img {
  height: 5%;
  width: 5%;
}
