body {
  background-color: white;
}

section {
  height: 100vh;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  width: 550px;
  display: inline-block;
}

.home {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

  /*background-image: url('../images/silver_lining-wallpaper-1280x768.jpg');*/
  background-image: url('../images/apple_desktop.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.guvsingh {
  font-family: 'Grand Hotel', cursive;
  font-size: 300px;
  color: black;
  padding-top: 5%;
  /*text-shadow: 2px 2px 8px #FFFFFF*/
}

#bio p {
  width: 700px;
}

.home-tag {
  margin-top: -6%;
}

.top {
  padding-top: 6%;
}

h1 {
  font-family: 'Grand Hotel', cursive;
  font-size: 40px;
}

h2, h3 {
  font-family: 'Grand Hotel', cursive;
  font-size: 30px;
}

.div-point-right {
  -webkit-clip-path: polygon(95% 0, 100% 50%, 100% 50%, 95% 100%, 0 100%, 0 0);
  clip-path: polygon(95% 0, 100% 50%, 100% 50%, 95% 100%, 0 100%, 0 0);

  /*background-image: url('../images/p1-word-conundrum.png');*/
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-point-left {
  -webkit-clip-path: polygon(5% 1%, 100% 0, 100% 100%, 5% 100%, 0 50%, 0 50%);
  clip-path: polygon(5% 1%, 100% 0, 100% 100%, 5% 100%, 0 50%, 0 50%);

  /*background-image: url('../images/p1-word-conundrum.png');*/
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.contact {
  background-image: url('../images/horizon.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*.bio {
  background-image: url('../images/polygons.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

.leftbox {
  width: 50%;
  height: 100vh;
  /*background-color: #bfd3e2;*/
  /*background-color: whitesmoke;*/
  float: left;
}

.rightbox {
  margin-left: 50%;
  height: 100vh;
  /*background-color: grey;*/
}

.content {
  margin-top: 10vh;
}

.screenshot {
  margin-top: 30%;
  width: 60%;
  border: 1px black solid;
}

.skills img {
  height: 12%;
  width: 12%;
}

.project-color {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mobileNav {
  display: none;
}

.arrow {
  font-size: 50px;
  color: white;
}

.small-arrow {
  font-size: 50px;
  color: black;
}

/*Hidden from normal view but displayed on mobile*/
.tech-display-hidden {
  display: none;
}

@media only screen and (max-width: 575px) {

  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .mainNav {
    display: none;
  }

  .mobileNav {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 10px;
  }

  .guvsingh {
    font-family: 'Grand Hotel', cursive;
    font-size: 100px;
    color: black;
    padding-top: 20%;
    /*text-shadow: 2px 2px 8px #FFFFFF*/
  }

  .home-mobile {
    padding-top: 10%;
    font-size: 10px;
  }

  .arrow {
    font-size: 100px;
    color: white;
  }

  .small-arrow {
    font-size: 50px;
    color: black;
  }

  #bio p {
    width: 90%;
    font-size: 10px;
  }

  h2, h3 {
    font-size: 15px;
  }

  h1 {
    font-size: 30px;
  }

  h5 {
    font-size: 12px;
  }

  .hide-box {
    display: none;
  }

  .leftbox {
    width: 100%;
    height: 100vh;
    float: left;
  }

  .rightbox {
    width: 100%;
    height: 100vh;
    margin-left: 0;
  }

  p {
    font-size: 10px;
    width: 90%;
  }

  .tech-display-hidden {
    display: block;
  }

  .screenshot {
    margin-top: 5px;
    width: 50%;
    border: 1px black solid;
  }

  .content {
    margin-top: 5vh;
  }

  .skills img {
    height: 20%;
    width: 20%;
  }


}
